{% extends "layout.html" %}
{% block content %}
    <div class="container mt-5">
        <h1 id="head-text" class="text-center heading-spacing">{{_('Drag and drop file here .txt, .pdf or .docx')}}</h1>
        
        <!-- Drop area -->
        <div id="drop-area" class="drop-box">
            <p id="drop-text">{{_('Drag your text file here')}}</p> 
            <audio id="audio-player" preload="auto"></audio>
        </div>

        <div id="progress-container" style="display: none;" class="container">
            <div class="circle-container">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
                <div class="circle circle-4"></div>
                <div class="circle circle-5"></div>
                <div class="circle circle-6"></div>
                <div class="circle circle-7"></div>
                <div class="circle circle-8"></div>
                <div class="circle circle-9"></div>
                <div class="circle circle-10"></div>
                <div class="circle circle-11"></div>
                <div class="circle circle-12"></div>
                <div class="circle circle-13"></div>
                <div class="circle circle-14"></div>
                
                <div id="progress-percentage" class="percentage">{{_('Loading...')}}</div>
            </div>
        </div>
        
        <!-- Separate container for audio controls -->
        <div id="audio-controls" style="display: none;" class="container button-container">
            <button id="play-pause-button" class="audio-button">
                <img src="{{ url_for('static', filename='images/play.png') }}" alt="Play" class="audio-icon" id="play-icon"> 
                <span>{{_('Play')}}</span>
            </button>
            <button id="download-button" class="audio-button">
                <img src="{{ url_for('static', filename='images/download.png') }}" alt="Download" class="audio-icon">
                {{_('Download')}}
            </button>
            <button id="new-button" class="audio-button">
                <img src="{{ url_for('static', filename='images/reload.png') }}" alt="Upload new file" class="audio-icon">
                {{_('New file')}}
            </button>
        </div>

    <script>
        const translations = {
            playText: "{{ _('Play') }}",
            pauseText: "{{ _('Pause') }}"
        };
    </script>
    <script>
        // Get ids of drop area
        const dropArea = document.getElementById("drop-area");
        const dropText = document.getElementById("drop-text");  // Define dropText
        const audioPlayer = document.getElementById("audio-player");
        const downloadButton = document.getElementById("download-button");
        const audioControls = document.getElementById("audio-controls");
        const headText = document.getElementById("head-text")
        const newFileButton = document.getElementById("new-button");
        const playPauseButton = document.getElementById("play-pause-button");
        const playIcon = document.getElementById("play-icon");

        // Define your translated error message in JavaScript
        const fileUploadError = "{{ _('File upload failed. Please try again.') }}";
        const fileTypeErrorMessage = "{{ _('Only .docx, .txt, or .pdf files are allowed.')}}";

        // Prevent default behavior when dragging over the drop area
        dropArea.addEventListener("dragover", function(e) {
            e.preventDefault(); // Prevent default behavior (open file)
        });
    
        // Handle the drop event
        dropArea.addEventListener("drop", function(e) {
            e.preventDefault(); // Prevent default behavior (open file)
            const files = e.dataTransfer.files; 

            if (files.length > 0) {
                // Hide the drop area and heading text
                fl = files[0]
                const allowedTypes = ['application/pdf', 'text/plain', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document']; // pdf, txt, docx

                if (!allowedTypes.includes(fl.type)) {
                    // If file type is not allowed, change the drop text to show an error message
                    dropText.textContent = fileTypeErrorMessage;
                    //dropText.style.color = "white"; // Optional: change color
                    return;
                }
                // Show progress container
                const progressContainer = document.getElementById("progress-container");
                progressContainer.style.display = "block";

                // Hide the drop area and heading text
                dropArea.style.display = "none";
                headText.style.display = "none";

                // Create FormData object
                const formData = new FormData();
                formData.append("file", fl); 

                // Use Fetch API to send the file to the server
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        dropText.textContent = data.error;
                        progressContainer.style.display = "none"; // Hide progress
                        dropArea.style.display = "block"; // Show drop area again
                        headText.style.display = "block";
                        return;
                    }

                    // File uploaded successfully, display the audio player
                    audioPlayer.src = data.audio_url;
                    audioControls.style.display = 'flex'; // Show the buttons container
                    progressContainer.style.display = "none"; // Hide progress
                })
                .catch(error => {
                    console.error(fileUploadError);
                    dropText.textContent = _('File upload failed. Please try again.');
                    progressContainer.style.display = "none"; // Hide progress on error
                    dropArea.style.display = "block"; // Show drop area again
                    headText.style.display = "block";
                });
            }
        });
    
        // Play/Pause button functionality
        playPauseButton.addEventListener('click', function() {
            const playIcon = "{{ url_for('static', filename='images/play.png') }}";
            const pauseIcon = "{{ url_for('static', filename='images/pause.png') }}";
            
            if (audioPlayer.paused) {
                audioPlayer.play();
                playPauseButton.querySelector('img').src = pauseIcon; // Update to pause icon
                playPauseButton.querySelector('img').alt = translations.pauseText;  // Update alt text
                
                // Update the button's text directly to the translated "Pause"
                playPauseButton.querySelector('span').textContent = translations.pauseText;
            } else {
                audioPlayer.pause();
                playPauseButton.querySelector('img').src = playIcon;  // Update to play icon
                playPauseButton.querySelector('img').alt = translations.playText;  // Update alt text
                
                // Update the button's text directly to the translated "Play"
                playPauseButton.querySelector('span').textContent = translations.playText;
            }
        });
    
        // Download button functionality
        downloadButton.addEventListener('click', function() {
            const audioUrl = audioPlayer.src;
            const link = document.createElement('a');
            link.href = audioUrl;
            link.download = 'audio.mp3';  // Change the filename as needed
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });

        // New file button functionality
        newFileButton.addEventListener("click", function() {
            location.reload(); // Reload the current page
        });

    </script>
{% endblock content %}
