<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    
    {% if title %}
        <title>{{_('Voice Reader')}} {{title}}</title>
    {% else %}
        <title>{{_('Voice Reader')}}</title>  
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container-fluid"> <!-- Use container-fluid for full width -->
                <a class="navbar-brand" href="/">{{_('Voice Reader')}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav"> <!-- Added id for collapse functionality -->
                    <div class="navbar-nav ml-auto"> <!-- Use ml-auto to align links to the right -->
                        <a class="nav-item nav-link" href="/about">{{_('About')}}</a>
                        <div class="nav-item d-flex align-items-center">
                            <a class="nav-link {{ 'selected' if current_language == 'en' else '' }}" href="#" id="lang-en" onclick="selectLanguage('en')">EN</a>
                            <a class="nav-link {{ 'selected' if current_language == 'es' else '' }}" href="#" id="lang-es" onclick="selectLanguage('es')">ES</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB1cXxdBb1r7mnM5In6g9kc7q1y8HczANHdoe0eFf6p3z6mx" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
        function selectLanguage(lang) {
            // Set the selected language in the session
            fetch('/set_language/' + lang, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log('Language set successfully:', lang);
                        location.reload(); // Reload the page to apply language changes
                    } else {
                        console.error('Failed to set language:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error setting language:', error);
                });
        }
    </script>
    
</body>

</html>